@import "tailwindcss";

@theme inline {
	--color-primary: #198754;
	--color-secondary: #ededed;
	--color-foreground: #212529;

	--color-error-text: #da2f00;
	--color-error-bg: #f4d1c8;
	--color-error: #ef3826;
}

body {
	color: var(--color-foreground);
	background: #fff;
}

.section-inline-padding {
	padding-inline: 1rem;

	@media (min-width: 1024px) {
		padding-inline: 6.5%;
	}

	@media (min-width: 1536px) {
		padding-inline: 8%;
	}
}
.min-h-screen-minus-header {
	min-height: calc(100vh - 90px - 60px);

	@media (min-width: 768px) {
		min-height: calc(100vh - 64px - 56px);
	}
}
